body{
    text-align: center;
}
.container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    z-index:0;
}

.board {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 400px;
    height: 400px;
    margin: auto;
    border-radius: 10px;
    margin-top: 3em;
    background: black;
    z-index:0;
}
.block {
    width: 24%;
    margin-bottom: 1%; /* (100-32*3)/2 */
    position: relative;
    border-radius: 3px;
    border: 1px solid black;
    text-align: center;
    z-index:0;
}
.winner{
    z-index: 1;
    position:absolute;
    background-color: white;
    opacity:0.7;
    top: 200px;
    margin:auto;
    color:white;
    width: 400px;
    height: 250px;
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    visibility: hidden;
}
.wintext{
    z-index:2;
    color:red;
    opacity: 1;
}
.restart{
    margin: 3em;
    position:relative;
    width: 20%;
    top: 400px;
    height: 3em;
}
.b2{
    background: #a8f2f7;
}
.b4{
    background: #74bcdb
}
.b8{
    background:#327fad
}
.b16{
    background: #246abf
}
.b32{
    background: #6a74eb
}
.b64{
    background: #846fe3
}
.b128{
    background: #c897e6
}
.b256{
    background: #e68df0
}
.b512{
    background:#ed6fd4
}
.b1024{
    background: #d67a82
}
.b2048{
    background: #e86b48
}